name: build

on:
  workflow_call:
    inputs:
      registry:
        description: 'Image registry (e.g. ghcr.io)'
        type: string
        required: false
        default: 'ghcr.io'
      go_version:
        description: 'Go version to use'
        required: false
        type: string
        default: '1.20.1'
    outputs:
      digest:
        value: ${{ jobs.build.outputs.digest }}

permissions:
  contents: read

jobs:
  build:
    outputs:
      digest: ${{ steps.image.outputs.digest }}
    runs-on: ubuntu-latest
    permissions:
      actions: read
      id-token: write
      packages: write
    steps:

    - name: Checkout Code
      uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f  # v3.4.0

    - name: Auth Docker
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        registry: ${{ inputs.registry }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Get Version
      run: |
        set -euo pipefail
        echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
        echo "IMG_URI=${{ inputs.registry }}/${{ github.repository }}" >> $GITHUB_ENV

    - name: Extract Metadata
      id: meta
      uses: docker/metadata-action@507c2f2dc502c992ad446e3d7a5dfbe311567a96
      with:
        images: ${{ env.IMG_URI }}
        tags: |
          type=raw,enable=true,value=${{ env.RELEASE_VERSION }}
          type=raw,enable=true,value=latest

    - name: BuildPush Image
      id: build
      uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        build-args: VERSION=${{ env.RELEASE_VERSION }}

    - name: Output Digest
      id: image
      run: |
        set -euo pipefail
        echo "digest=${{ env.IMG_URI }}@${{ steps.build.outputs.digest }}" >> "$GITHUB_OUTPUT"